<table class='table-striped table' style='margin-top: 1 em;'>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-Mail</th>
    <th>Details</th>
  </tr>
  <% @data.each do |x|%>
    <tr>
      <td><%=x.id%></td>
      <td><%=x.first_name%></td>
      <td><%=x.last_name%></td>
      <td><%=x.email%></td>
      <td>
        <%=link_to patient_path(x) do%>
          <i class='material-icons'>perm_identity</i>
        <%end%>
      </td>
    </tr>
  <%end%>
</table>

<center><%= paginate @data %></center>
